#about {
    margin-left: 550px;
}
.contact-section {
   background: linear-gradient(135deg, #e0eafc, #cfdef3);
    padding: 60px 20px;
    color: white;
}

.contact-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-section p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

#contactForm {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#contactForm button {
    width: 100%;
    background: #667eea;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#contactForm button:hover {
    background: #764ba2;
    transform: scale(1.03);
}
